# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Remote Edit'
      'submenu': [
        { 'label': 'Show Open Files', 'command': 'remote-edit:show-open-files' }
        { 'label': 'Browse Hosts', 'command': 'remote-edit:browse' }
        { 'label': 'Add New Host (sftp)', 'command': 'remote-edit:new-sftp-host' }
        { 'label': 'Add New Host (ftp)', 'command': 'remote-edit:new-ftp-host' }
        { 'label': 'Toggle files view', 'command': 'remote-edit:toggle-files-view' }
        { 'label': 'Close all connections', 'command': 'remote-edit:close-all-connections' }
    ]
    ]
  }
]

'context-menu':
  '.remote-edit-opened-tree li': [
     {'label': 'Show in browser', 'command': 'remote-edit:show-in-browser'}
     {'label': 'Close', 'command': 'remote-edit:close-from-tree'}
  ]

  '.remote-edit-file-list': [
    {'label': 'Toggle files view', 'command': 'remote-edit:toggle-files-view'}
    {'type': 'separator'}
    {'label': 'Reload current folder', 'command': 'remote-edit:reload-folder'}
    {'type': 'separator'}
    {'label': 'Create folder', 'command': 'remote-edit:create-folder'}
    {'label': 'Create file', 'command': 'remote-edit:create-file'}
    {'type': 'separator'}
    {'label': 'Set Permissions', 'command': 'remote-edit:set-permissions'}
    {'label': 'Rename/Move', 'command': 'remote-edit:rename-folder-file'}
    {'label': 'Delete', 'command': 'remote-edit:remove-folder-file'}
    {'type': 'separator'}
    #{'label': 'Copy', 'command': 'remote-edit:copy-folder-file'}
    {'label': 'Cut', 'command': 'remote-edit:cut-folder-file'}
    {'label': 'Paste', 'command': 'remote-edit:paste-folder-file'}
  ]
